In [ ]:
#https://github.com/WillKoehrsen/Data-Analysis/blob/master/statistics/Simpson%27s%20Paradox.ipynb
"""
I attempted to follow this tutorial of Will Koehrsen to learn how to use pandas, numpy, and matplotlib
"""

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [19]:
data = pd.DataFrame({'X Better': [125, 22], "X Treated":[610,75], "Y Better":[29,60], "Y Treated":[150,240]}, index= ["M","F"])
data ["X Percent"] = data ["X Better"] / data[ "X Treated"]
data ["Y Percent"] = data ["Y Better"]/ data["Y Treated"]
data

   X Better  X Treated  Y Better  Y Treated  X Percent  Y Percent
M       125        610        29        150   0.204918   0.193333
F        22         75        60        240   0.293333   0.250000

In [20]:
data.loc["Combine",:4] = list(data.iloc[:,:4].sum())
data.loc["Combine", "X Percent"] = data.loc["Combine","X Better"] / data.loc["Combine", "X Treated"]
data.loc["Combine", "Y Percent"] = data.loc["Combine", "Y Better"] / data.loc["Combine", "Y Treated"]
data

         X Better  X Treated  Y Better  Y Treated  X Percent  Y Percent
M           125.0      610.0      29.0      150.0   0.204918   0.193333
F            22.0       75.0      60.0      240.0   0.293333   0.250000
Combine     147.0      685.0      89.0      390.0   0.214599   0.228205

In [22]:
# Restaurant review

res_data = pd.DataFrame({"Recommend Sophia": [50,200], "Sophia's Total": [150,250],"Recommend Carlo": [180,36], "Carlo's Total": [360,40]}, index= ["M", "F"])
res_data

   Recommend Sophia  Sophia's Total  Recommend Carlo  Carlo's Total
M                50             150              180            360
F               200             250               36             40

In [28]:
res_data["Sophia's Percent"] = res_data["Recommend Sophia"] / res_data["Sophia's Total"]
res_data["Carlo's Percent"] = res_data["Recommend Carlo"]/ res_data["Carlo's Total"]
res_data

,Recommend Sophia,Sophia's Total,Recommend Carlo,Carlo's Total,Sophia's Percent,Carlo's Percent
M,50,150,180,360,0.333333,0.5
F,200,250,36,40,0.800000,0.9

In [30]:
res_data.loc["Combined",:4] = list(res_data.iloc[:,:4].sum())
res_data.loc["Combined","Sophia's Percent"] = res_data.loc["Combined","Recommend Sophia"] / res_data.loc["Combined", "Sophia's Total"]
res_data.loc["Combined","Carlo's Percent"] = res_data.loc["Combined","Recommend Carlo"] / res_data.loc["Combined", "Carlo's Total"]
res_data

,Recommend Sophia,Sophia's Total,Recommend Carlo,Carlo's Total,Sophia's Percent,Carlo's Percent
M,50.0,150.0,180.0,360.0,0.333333,0.50
F,200.0,250.0,36.0,40.0,0.800000,0.90
Combined,250.0,400.0,216.0,400.0,0.625000,0.54